{{ > header }}
<h1>Adicionar posts</h1>
<form method="post">
    <label>Título:
        <input type="text" name="title" />
    </label><br>
    <label>Corpo: 
        <textarea name="body"></textarea>
    </label><br><br>

    <button type="submit">Salvar</button>

</form>