{{> header}}

<h1>Esqueci minha senha</h1>

<form method="post">
    <label>E-mail:</label>
    <input type="email" name="email">
    <br>

    <label>
        <input type="submit" value="Redefinir Senha" />
    </label>
</form>