{{ > header }}
<h1>Faça o seu login</h1>

<form method="post">
    <label>E-mail:</label>
    <input type="email" name="email" /><br>

    <label>Senha:</label>
    <input type="password" name="password" /><br>

    <input type="submit" value="Entrar">
</form>

<a href="/users/forget">Esqueci minha senha</a>