{{ > header }}
<h1>tela cadastro de usuários</h1>

<form method="post">
    <label>Nome:</label>
    <input type="text" name="name" /><br><br>

    <label>E-mail:</label>
    <input type="email" name="email" /><br><br>

    <label>Senha:</label>
    <input type="password" name="password" /><br><br>

    <input type="submit" value="Cadastrar">
</form>